<div class="modal-header d-flex  align-items-center">
  <button type="button" class="close" style="margin-left: -16px;" aria-label="Close" (click)="close()">
    <img class="btn-icon" src="assets/icons/clear-24px.png" />
  </button>
  <h3 class="modal-title d-flex justify-content-center ml-auto mr-auto" id="modal-basic-title">{{title}}
  </h3>
</div>
<div class="modal-body">
  <div class="modal-coordinates">
    <div style="margin-bottom: 0;" class="d-flex flex-column">

      <!-- Boucle de construction de l'indice -->
      <div *ngFor="let item of indice; index as i; odd as isOdd">
         <!-- [ngClass]="{ odd: 4>i || (8>i && 6>=i), even: }"> -->
        <div *ngIf="item.type == 'titre'">
          <b>{{item.text}}</b><br />
        </div>

        <div  *ngIf="item.type == 'paragraphe'">
          <div [innerHTML]="item.text"></div><span *ngIf="i!=1"><br/></span>
        </div>

        <div *ngIf="item.type == 'video'">
          <iframe width="inherit" [src]="item.trustedUrl" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>

        <div *ngIf="item.type == 'image'">
          <img style="box-sizing: border-box;width: 100%;padding: 5px;" [src]="item.trustedUrl">
        </div>
      </div>

    </div>
  </div>
</div>
<!-- <div class="modal-footer d-flex justify-content-center">
    <button (click)="close()"> Ok </button>
</div> -->
<!-- 
  </div>







</div> -->
