
main {
  // margin-top: 0px; //50px;
  margin-top: 42px;
  height: 100%;
}

nav {
  background-color: #013a5d!important;
}
.nav-link.dropdown-toggle.waves-effect.waves-light{
  margin-right: -1vw;
}
// app-page-site > .row {
//   height: 100vh;
// }
// .navbar-dark .navbar-toggler-icon{
//   // display: none;
//   // background-image: url("./assets/icons/more_vert-24px.png");
// }
.navbar-toggler {
  border: 0px solid transparent;
  border-radius: 0.25rem;
}
.navbar-toggler:focus{
  outline: 0px solid transparent;
}
.navbar{
  padding-right: 0px;
}
.dropdown-toggle::after{
  display: none;
}
