<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center">
      <img class="ml-auto pr-2 pt-1 sgdfIcon"  src="assets/icons/Groupe_67.png"/><a class="navbar-brand" href="#">Scoutocaching</a>
  </div>
    <!-- <button class="navbar-toggler dropdown" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end dropdown-menu dropdown dropdown-primary" id="navbarsExampleDefault" role="menu">
        <ul>Coucou</ul>
    </div> -->
      <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <img class="ml-auto icons-vert"  src="assets/icons/more_vert-24px.png" width="auto"/>
    </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-unique" id="navMenu" aria-labelledby="navbarDropdownMenuLink-3">
        <a id="groupesVisibilitySelectorHide" class="dropdown-item waves-effect waves-light" style="visibility: hidden; height: 0px; padding: 0 0;" href="#"><img id="groupesVisibilityImg" class="ml-auto pr-2 icons-vert"  src="assets/icons/baseline_visibility_off_24px.png" width="auto"/>Cacher les groupes</a>
        <a id="groupesVisibilitySelectorShow" class="dropdown-item waves-effect waves-light" href="#"><img id="groupesVisibilityImg" class="ml-auto pr-2 icons-vert"  src="assets/icons/baseline_visibility_24px.png" width="auto"/>Afficher les groupes</a>
        <a class="dropdown-item waves-effect waves-light" href="#" (click)="changeTerre()" id="linkChangeTerre"><img class="ml-auto pr-2 icons-vert"  src="assets/icons/change_circle-24px.png" width="auto"/>Changer de Terre</a>
        <a class="dropdown-item waves-effect waves-light" href="#"><img class="ml-auto pr-2 icons-vert"  src="assets/icons/help-24px.png" width="auto"/>Aide</a>
      </div>
  </div>
</nav>

<main class="container-fluid p-0">

  <router-outlet></router-outlet>

</main><!-- /.container -->
