<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center">
      <img class="ml-auto pr-2"  src="assets/icons/Groupe_67.png" width="auto"/><a class="navbar-brand" href="#">Scoutocaching</a>
  </div>
    <!-- <button class="navbar-toggler dropdown" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end dropdown-menu dropdown dropdown-primary" id="navbarsExampleDefault" role="menu">
        <ul>Coucou</ul>
    </div> -->
      <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <!-- <span class="navbar-toggler-icon"></span> -->      
      <img class="ml-auto"  src="assets/icons/more_vert-24px.png" width="auto"/>
    </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-unique" aria-labelledby="navbarDropdownMenuLink-3">
        <a class="dropdown-item waves-effect waves-light" (click)="changeTerre();"><img class="ml-auto pr-2"  src="assets/icons/change_circle-24px.png" width="auto"/>Changer de Terre</a>
        <a class="dropdown-item waves-effect waves-light" href="javascript:;;"><img class="ml-auto pr-2"  src="assets/icons/help-24px.png" width="auto"/>Aide</a>
      </div>
  </div>
</nav>

<main class="container-fluid p-0">

  <router-outlet></router-outlet>

</main><!-- /.container -->
