<div *ngIf="showTerreChoice">
  <div class="modal-header d-flex align-items-center justify-content-center">
    <!-- <button type="button" class="close" style="margin-left: -16px;" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <img src="assets/icons/clear-24px.png"/>
    </button> -->
    <!-- <img class="ml-auto pr-2"  src="assets/icons/Groupe_67blue.png" width="auto"/> -->
    <h3 class="modal-title d-flex justify-content-center ml-auto mr-auto" id="modal-basic-title">{{title}}</h3>
  </div>
  <div class="modal-body">
    <div *ngFor="let item of content" class="modal-coordinates d-flex justify-content-center flex-column">
      <div *ngIf="item.type == 'titre'">
        <b>{{item.text}}</b><br />
      </div>

      <div *ngIf="item.type == 'paragraphe'">
        <p>{{item.text}}</p>
      </div>

      <div *ngIf="item.type == 'video'">
        <iframe width="inherit" [src]="item.trustedUrl" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div *ngIf="item.type == 'image'" class="ml-auto mr-auto">
        <img [src]="item.trustedUrl" style="object-fit:contain;width:100%">
      </div>
      <div *ngIf="item.type == 'bouton'">
        <button (click)="selectTerre(item.text)"><img class="icons" [src]="item.url"/> {{item.text}}  <img *ngIf="item.done" class="icons" src="assets/icons/done-24px.png"/>
          <div class="progress-bar progress-bar-animated" role="progressbar" [style]="item.style" [aria-valuenow]="item.percentage" aria-valuemin="0" aria-valuemax="100"></div>
        </button>
        
      </div>
    </div>
    </div>

  </div>
  <!-- <div class="modal-footer d-flex justify-content-center">
    <button (click)="start()">Démarrer</button>
  </div> -->
<!-- </div> -->
<div *ngIf="showTerreContent" class="modal-coordinates d-flex justify-content-center flex-column">
  <div class="modal-header terreContent d-flex align-items-center justify-content-center">
    <p style="width: inherit;"><img class="terreContent modal-title d-flex justify-content-center"
        [src]="header.trustedUrl" style="width: inherit;" /></p>
    <button type="button" class="back terreContent modal-title d-flex justify-content-center" aria-label="Close"
      (click)="goBackToTerreChoice()">
      <img class="icons btn-icon" src="assets/icons/back.png" /></button>
  </div>
  <div class="modal-body terreContent" style="width: 100%">
    <div *ngFor="let item of content" class="modal-coordinates d-flex justify-content-center flex-column">
      <div *ngIf="item.type == 'titre'">
        <b>{{item.text}}</b><br />
      </div>

      <div *ngIf="item.type == 'paragraphe'">
        <!-- <p>{{item.text}}</p> -->
        <div [innerHTML]="item.text"></div>
      </div>

      <div *ngIf="item.type == 'video'">
        <iframe width="inherit" [src]="item.trustedUrl" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div *ngIf="item.type == 'image'" class="ml-auto mr-auto">
        <img [src]="item.trustedUrl">
      </div>
      <div *ngIf="item.type == 'bouton'">
        <button (click)="selectTerre(item.text)" [disabled]="item.isDisabled"><img class="icons btn-icon" [src]="item.url"/> {{item.text}}  <img *ngIf="item.done" class="icons btn-icon pb-1" src="assets/icons/done-24px.png"/>
          <div class="progress-bar progress-bar-animated" role="progressbar" [style]="item.style" [aria-valuenow]="item.percentage" aria-valuemin="0" aria-valuemax="100"></div>
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center align-items-center justify-content-center"
    style="width: 100%;">
    <button (click)="go()">{{footer.text}} <img class="btn-icon" [src]="footer.url" /> </button>
  </div>
</div>
