#map {
  /*position: absolute;
  top: 50px;
  bottom: 0;*/
  width: 100%;
  height: calc(100vh - 42.5px - 1rem);
  margin-top:calc(42.5px + 1rem);
  // max-height: 95vh;
}
.map-overlay {
  // font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  position: absolute;
  width: 200px;
  bottom: 5vh;
  left: 50%;
  padding: 10px;
  transform: translateX(-50%);
  }
.map-overlay > button {
  text-align: center;
  background-color:  #013a5d!important;
  color: white;
  border: none;
  padding: 10px 0.1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
  width: 90%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  vertical-align: middle;
}

.btn-icon {
  width: 25px;
}


  // .map-overlay .map-overlay-inner {
  // background-color: #fff;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  // border-radius: 3px;
  // padding: 10px;
  // margin-bottom: 10px;
  // }
   
  // .map-overlay-inner fieldset {
  // border: none;
  // padding: 0;
  // margin: 0 0 10px;
  // }
   
  // .map-overlay-inner fieldset:last-child {
  // margin: 0;
  // }
   
  // .map-overlay-inner select {
  // width: 100%;
  // }
   
  // .map-overlay-inner label {
  // display: block;
  // font-weight: bold;
  // margin: 0 0 5px;
  // }
   
  // .map-overlay-inner button {
  // display: inline-block;
  // width: 36px;
  // height: 20px;
  // border: none;
  // cursor: pointer;
  // }
   
  // .map-overlay-inner button:focus {
  // outline: none;
  // }
   
  // .map-overlay-inner button:hover {
  // box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
  // }