<div id="map"></div>
<div class="map-overlay bottom" id="resolutionDiv">
    <!-- <input id="resolutionButton" type="button" (click)="loadResolution()" value="J'accuse"/> -->
    <button id="resolutionButton"  (click)="loadResolution()"><img class="ml-auto py-2 pr-2 icons-vert btn-icon"  src="assets/icons/gavel_white_24px.png" width="auto"/> J'accuse </button>
    <!-- <input id="changeTerreButton" type="button"  (click)="changeTerre()" value="Changer de Terre"/> -->
    <button id="changeTerreButton"  (click)="changeTerre()"><img class="ml-auto py-2 pr-2 icons-vert btn-icon"  src="assets/icons/outline_change_circle-24px.png" width="auto"/> Changer de Terre </button>
</div>
    