.modal-footer > button, .modal-body > div > div > button {
    text-align: center;
    background-color:  #013a5d!important;
    color: white;
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    width: 90%;
}
.modal-body > div > div {
    width:90%;
    padding:1rem;
    text-align: center;
}
.modal-body > div > div > button {
    text-align: center;
    background-color:  #013a5d!important;
    color: white;
    border: none;
    padding: 10px 0.1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    width: 90%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header > button{
    float: left;
}

.modal-header, .modal-body{
    color:#013a5d;
}

.modal-coordinates{
    display: flex;
    align-items:center;
    vertical-align: middle;
}
.modal-icon{
    float: left;
    margin: 0px 15px 0px 0px;
}