<div class="container-fluid">
  <br>

  <h1 style="text-align: center;">Pilotage de {{nom}} ({{node}})</h1>

  <br>

  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-warning btn-block" (click)="maintenance(true)">Maintenance On</button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-outline-warning btn-block" (click)="maintenance(false)">Maintenance
        Off</button>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-success btn-block" (click)="light(true)">Light On</button>
    </div>
    <div class="col-6">
      <button type="button" class="btn btn-outline-success btn-block" (click)="light(false)">Light Off</button>
    </div>
  </div>

</div>

<br>

<h1 style="text-align: center;">Derniers messages sur {{gateway}}</h1>

<br>


<div class="row">
  <div class="col-12 pl-5 pr-5">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Gateway</th>
          <th scope="col">Noeud</th>
          <th scope="col">Type message</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of mqtt_messages">
          <th scope="row">{{message.date}}</th>
          <td>{{message.gateway!}}</td>
          <td>{{message.node}}</td>
          <td>{{message.message_type}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
